<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Movie</title>
</head>
<body>
<div align="center">
    <h1>Create New Movie</h1>
    <br/>
    <form action="#" th:action="@{/newMovie}" th:object="${movie}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Movie ID</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Movie Name</td>
                <td><input type="text" th:field="*{movieName}"/></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input type="datetime-local" th:field="*{year}"/></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td><input type="text" th:field="*{genre}"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>Role ID</td>
                <td>Role Name</td>
                <td>Actor</td>
            </tr>
            <tr>
                <td>Role 1</td>
                <td><input type="text" th:field="*{roles.id}" readonly="readonly"/></td>
                <td><input type="text" th:field="*{roles.role}"/></td>
                <td><input type="text" th:field="*{roles.actor.name}"/></td>
            </tr>
            <tr>
                <td>Role 2</td>
                <td><input type="text" th:field="*{roles.id}" readonly="readonly"/></td>
                <td><input type="text" th:field="*{roles.role}"/></td>
                <td><input type="text" th:field="*{roles.actor.name}"/></td>
            </tr>
            <tr>
                <td>Role 3</td>
                <td><input type="text" th:field="*{roles.id}" readonly="readonly"/></td>
                <td><input type="text" th:field="*{roles.role}"/></td>
                <td><input type="text" th:field="*{roles.actor.name}"/></td>
            </tr>

            <tr>
                <td>Languages</td>
                <td>Language ID</td>
                <td>Language</td>
            </tr>
            <tr>
                <td>Language 1</td>
                <td><input type="text" th:field="*{languages.id}"readonly="readonly"/></td>
                <td><input type="text" th:field="*{languages.language}"/></td>
            </tr>
            <tr>
                <td>Language 2</td>
                <td><input type="text" th:field="*{languages.id}"readonly="readonly"/></td>
                <td><input type="text" th:field="*{languages.language}"/></td>
            </tr>
            <tr>
                <td>Language 3</td>
                <td><input type="text" th:field="*{languages.id}"readonly="readonly"/></td>
                <td><input type="text" th:field="*{languages.language}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>